* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(115deg,
                      rgba(58, 58, 158, .8),
                      rgba(136, 136, 206, .7)),
                      url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    color: #f1f2f6;
    font-family: Tahoma;
    font-size: 1.1em;
}

header {
    margin: 2.5em auto;
    text-align: center;
    width: 60vw;
    max-width: 700px;
    min-width: 300px;
}

form {
    background-color: rgba(27, 27, 50, .8);
    width: 60vw;
    margin: 0 auto;
    max-width: 750px;
    min-width: 300px;
    padding: 1em 1.6em;
}

fieldset {
    border: none;
    margin-top: 30px;
}

label {
    display: block;
    margin: 1.5rem 0 .6rem 0;
}

input,
select,
textarea {
    width: 100%;
    min-height: 2.5em;
    font-size: .9em;
}

input,
textarea {
    border: 1px solid #0a0a23;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1.3em;
    margin: 0 .5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    height: 2rem;
    background-color: #33b23b;
    color: #fff;
    font-size: 1em;
}

input::placeholder,
textarea::placeholder {
    padding: .8em;
    font-size: 1.2em;
    color: #8b8b8b;
}

#title {
    font-size: 1.6em;
}

#description {
    padding-top: 1em;
    font-style: italic;
}

#dropdown,
#feature-dropdown {
    position: relative;
    font-family: Tahoma;
    min-height: 1em;
    padding: .4em;
    font-size: 1em;
    color: #8b8b8b;
    border-radius: 5px;
}